# API
APP_PORT=port-number
APP_MODE=production || development # Set between production or development database. Any string different betweeen those will throw an error
APP_SECRET=your-secret-here # Set the secret string to sign the JWT tokens
JWT_TOKEN_EXPIRES_IN=time-to-expire # Default value is 48h
# PostgreSQL
PG_HOST=your-host
PG_PORT=your-port
PG_USER=your-user
PG_PASSWORD=your-password
PG_DB=your-database
# Development Database
PG_HOST_DEV=your-dev-host
PG_PORT_DEV=your-dev-port
PG_USER_DEV=your-dev-user
PG_PASSWORD_DEV=your-dev-password
PG_DB_DEV=your-dev-db